h1 {
    color: #24129B;
}
#header {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #426493;
}
h2 {
    color: #24129B;
}

h3 {
    color: #24129B;
}
p {
	color: #291C1C;
}